<div id="empLogin" class="container">
	<form class="form-signin">
		<h2 class="form-signin-heading">Employee Sign In</h2>
		<label for="username" class="sr-only">Username</label>
		<input type="text" id="username" class="form-control" placeholder="Username" required autofocus />

		<label for="password" class="sr-only">Password</label>
		<input type="password" id="password" class="form-control" placeholder="Password" required />

		<input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" value="Sign In" />
	</form>
</div>